- var options = [];
- categories.forEach(function(category) {
-  options.push({ value: category._id, text: category.name });
- });

form.form(action='posts' + (post._id ? '/' + post._id : ''), method='post')
  - if (post._id)
    input(type='hidden', name='_method', value='put')
    
  label Заглавие
  input#src.span7.clearfix(type='text', value=post.title, name='post[title]')
  
  label Permlink
  input#permlink.span7.clearfix(type='text', value=post.permlink, name='post[permlink]')
  
  label Интродукция
  textarea#summary.summary(name='post[summary]')!=post.summary
  
  label Съдържание
  textarea#editor.editor(name='post[content]')!=post.content
  
  label Категория
  != select_tag('post[category_id]', post.category_id + '',  options)
  
  input.btn.primary(type='submit', value='Запазване')