- layout('admin/layout')

.page-header
  h1 Страници
  
!= messages  

table.zebra-striped.list
  tr
    th
    th Име
    th Подредба
    th
  each page, i in pages
    tr
      td= i + 1 + '.'
      td= page.name
      td= page.position
      td
        a.btn.small(href='pages/edit/' + page._id ) Редактирай
        
        form.delete(method='post', action='pages/' + page._id)
          input(type='hidden', name='_method', value='delete')
          input.danger.btn.small(type='submit', value='Изтриване')

.action
  a.btn.success(href='pages/new') Добавяне